* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue2 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;}
    25% {
  border-radius: 60% 52% 52% 70% / 80% 52% 90% 60%;}
    50% {
  border-radius: 65% 95% 75% 65% / 85% 65% 95% 75%;}
    75% {
  border-radius: 90% 70% 60% 80% / 60% 70% 80% 90%;}
  100% {
    -webkit-filter: hue-rotate(-360deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;} 
}

html.vote, body.vote {
  background-color: darkmagenta;
  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
}

.vote-btn--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.vote-list button.start-vote {
  display: block;
  width: 80%;
  height: 100px;
  font-size: 32px;
  border-radius: 4px;
  margin-top: calc(50vh + 200px);
}

.vote-footer {
  position: fixed;
  bottom: -5px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.start-vote {
  background-color: #3700B3;
  color: white;
  font-weight: bold;
}

.vote-in-progress {
  text-align: center;
  padding: 8px 0;
  margin: 0;
  background-color: lightseagreen;
  @media (prefers-color-scheme: dark) {
    background-color: #3700B3;
  }
}

.vote-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 333; 
  height: 90px;
  -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.vote-main {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 50px;
}
  

.vote-closed-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .vote-closed {
    padding: 150px 0 0;
    text-align: center;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    width: 100%;
    height: 100%;
  }
}

.vote-list {
  //-webkit-backdrop-filter: blur(40px);
  //backdrop-filter: blur(40px);
}

.vote-container {
  //background-image: url('img/art2.png');
  //background-size: cover;
}

.vote-name, .vote-closed {
  color: #f5f5f5;
  font-size: 30px;
  font-weight: bold;
  margin: 5% auto;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  width: 90%;
  filter: blur(0);
  height: 70px;
  letter-spacing: initial;
  //transition: all 2000ms ease;
  &:focus {
    outline: none;
  }
  @media (prefers-color-scheme: dark) {
    color: #BB86FC;
    //background-color: #121212;
  }
}

.vote-name.blurrr {
  transition: all 2000ms ease;
}

.vote-name:not(.blurrr) {
  transition: all 100ms ease;
}

.vote-name[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes beat {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

.heart{
    position: relative;
    width: 40px;
    height: 40px;
    animation: beat 3500ms infinite;
    margin: 10px;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 32px;
    background: darkmagenta;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    @media (prefers-color-scheme: dark) {
      background: #03DAC6;
    }
}

.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart--empty {
  display: none;
}

.hearts-wrapper {
  display: flex;
  justify-content: center;
  height: 40px;
}

.blurrr {
  filter: blur(5px);
  letter-spacing: 10px;
}

.headerBG {
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 222;
  position: fixed;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #cccccc24;
}
