* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue2 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;}
    25% {
  border-radius: 60% 52% 52% 70% / 80% 52% 90% 60%;}
    50% {
  border-radius: 65% 95% 75% 65% / 85% 65% 95% 75%;}
    75% {
  border-radius: 90% 70% 60% 80% / 60% 70% 80% 90%;}
  100% {
    -webkit-filter: hue-rotate(-360deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;} 
}

html.vote, body.vote {
  background-color: darkmagenta;
}

.vote-btn--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.vote-list button.start-vote {
  display: block;
  width: 100%;
  height: 65px;
  font-size: 16px;
  border-radius: 4px;
}

.vote-footer {
  position: sticky;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.start-vote {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
}

.vote-in-progress {
  text-align: center;
  padding: 8px 0;
  margin: 0;
  background-color: lightseagreen;
}

.vote-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.vote-main {
  width: 100%;
}
  

.vote-closed-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  .vote-name {
    padding: 0;
    text-align: center;
  }
}

.vote-list {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.vote-container {
  background-image: url('img/art2.png');
  background-size: cover
}

.vote-name {
  color: #f5f5f5;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 30px 30px;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  width: 100%;
  filter: blur(0);
  transition: filter 1000ms;
  text-align: left;
  &:focus {
    outline: none;
  }
}

.vote-name[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes beat {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

.heart{
    position: relative;
    width: 25px;
    height: 25px;
    animation: beat 2000ms infinite;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 16px;
    background: darkmagenta;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart--empty {
  display: none;
}

.hearts-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}

.blurrr {
  filter: blur(3px);
}


