* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue2 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;}
    25% {
  border-radius: 60% 52% 52% 70% / 80% 52% 90% 60%;}
    50% {
  border-radius: 65% 95% 75% 65% / 85% 65% 95% 75%;}
    75% {
  border-radius: 90% 70% 60% 80% / 60% 70% 80% 90%;}
  100% {
    -webkit-filter: hue-rotate(-360deg);
  border-radius: 52% 70% 70% 52% / 52% 52% 70% 70%;} 
}

.vote-btn--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.vote-list button {
  display: block;
  width: 100%;
  height: 65px;
  font-size: 16px;
  border-radius: 4px;
}

.vote-footer {
  position: sticky;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.start-vote {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
}

.vote-in-progress {
  text-align: center;
  padding: 8px 0;
  margin: 0;
  background-color: lightseagreen;
}

.vote-header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(243, 190, 82);
  color: #1d1d1d;
  display: flex;
  justify-content: center;
}

.vote-closed-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

